body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url("../static/background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
}

.container h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.input-group {
    margin: 15px 0;
}

.input-group label {
    display: block;
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

input[type="checkbox"] {
    width: auto;
}

.button {
    display: inline-block;
    background: #ff758c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background: #ff5063;
}

.generated-password {
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
